@model teamssd.Data.Entities.Chanel

@{
    ViewBag.Title = "Delete";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Видалити канал</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Owner.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

        </dl>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Видалити" class="btn btn-raised btn-danger" />
                @Html.ActionLink("Назад", "Index", null, new {@class= "btn btn-raised btn-default" })
            </div>
        }
    </div>
</div>
