@model IEnumerable<teamssd.Data.Entities.Chanel>

@{
    ViewBag.Title = "Канали";
}

@*<div class="" style="background-color: #4267b2; padding: 15px 15px;color: white; border-radius: 3px; margin-bottom: 15px;">
    <h3 class="panel-title">Канали</h3>
</div>*@

<div class="row panel-body">
   
    <div class="col-md-11 ">
        <ul class="nav nav-pills">
            <li class="@((ViewBag.MyChanels ?? false) ? "active" : "")"><a href="@Url.Action("MyChanels", "Chanels")">Мої канали</a></li> @*<span class="badge">42</span>*@
            <li class="@((ViewBag.FollowedChanels ?? false) ? "active" : "")"><a href="@Url.Action("FollowedChanels", "Chanels")">Канали</a></li>
            <li class="@((ViewBag.SearchChanels ?? false) ? "active" : "")"><a href="@Url.Action("SearchChanels", "Chanels")">Пошук каналів</a></li>
        </ul>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row center">
            <div class="col-sm-8">
                <div class="row" style="font-size: 15px; padding-left: 15px;">
                    <div class="col-sm-2 text-panel">
                        <strong>Ім'я</strong>
                    </div>
                    <div class="col-sm-3 text-panel">
                        <strong>Назва Каналу</strong>
                    </div>
                    <div class="col-sm-3 text-panel">
                        <strong>Опис</strong>
                    </div>
                    @*<div class="col-sm-2 text-panel">
                        <strong>DateLoaded</strong>
                    </div>
                    <div class="col-sm-2 text-panel">
                        <strong>LoadedBy</strong>
                    </div>
                    <div class="col-sm-2 text-panel">
                        <strong>DataFile</strong>
                    </div>*@
                </div>
                <hr/>
            </div>
        </div>


        <div class="col-lg-8 col-md-8 col-sm-8" style="padding-left: 15px;">
            @foreach (var item in Model)
            {
                <div class="row" style="height: 38px; padding: 7px 0;font-size: 16px;">
                    <div class="col-lg-2 col-md-2 col-sm-2 text-panel center">
                        <div class="center">
                            @*@Html.DisplayFor(modelItem => item.Owner.FirstName)*@
                            @item.Owner.FirstName
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 text-panel center">
                        <div class="">
                            @*@Html.DisplayFor(modelItem => item.Name)*@
                            @item.Name
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 text-panel center">
                        <div class="">
                            @*@Html.DisplayFor(modelItem => item.Description)*@
                            @item.Description
                        </div>
                    </div>
                    @if (ViewBag.FollowedChanels != null && ViewBag.FollowedChanels == true)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center">
                            @Html.ActionLink("Відписатися", "Follow", new {id = item.Id}, new {@class= "btn btn-raised btn-primary" })
                        </div>
                    }
                    @if (ViewBag.SearchChanels != null && ViewBag.SearchChanels == true)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center">
                            @Html.ActionLink("Підписатися", "Follow", new {id = item.Id}, new {@class= "btn btn-raised btn-primary" })
                        </div>
                    }
                </div>
                <hr/>
            }
        </div>
        @if (ViewBag.MyChanels != null && ViewBag.MyChanels == true)
        {
            <div class="col-lg-4 col-md-4 text-panel">
                @foreach (var item in Model)
                {
                    <div class="row" style="height: 80px; padding: 7px 0;font-size: 16px;">
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center">
                            @Html.ActionLink("Редагувати", "Edit", new {id = item.Id})
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center">
                            @Html.ActionLink("Деталі", "Details", new {id = item.Id})
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center">
                            @Html.ActionLink("Видалити", "Delete", new {id = item.Id})
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: center">
                            @Html.ActionLink("Новини каналу", "MyNews", "Home", new { chanelId = item.Id },null)
                        </div>
                        @*<div class="col-lg-4 col-md-4 col-sm-4 text-align: center">
                        <a href="@Url.Action("Delete", "Chanels", new {id = item.Id, @class ="" })" role="button" id="">
                            <i class="fa fa-trash-o" aria-hidden="true" style="font-size: 25px;"></i>
                        </a>
                    </div>*@
                    </div>
                }
            </div>
        }
    @if (ViewBag.FollowedChanels != null && ViewBag.FollowedChanels == true)
    {

    }
    </div>
    <p>
        @Html.ActionLink("Створити", "Create", null, new { @class = "btn btn-raised btn-success pull-right" })
    </p>
</div>
