@model List<teamssd.Data.Entities.News>

@if (Model != null)
{
    foreach (var news in Model)
    {
        <div class="jumbotron">
            <h2>@news.Title</h2>

            <p>@news.Text</p>
            @if ((ViewBag.MyNews ?? false) || (ViewBag.ViewedNews ?? false))
            {
                <label style="margin-right: 10px" class="">Цікавить <span class="badge">@news.InterestsСount</span></label>
                <label style="margin-right: 10px" class="">Актуально <span class="badge">@news.RelevantsСount</span></label>
                <label style="margin-right: 10px" class="">Корисно <span class="badge">@news.UsefulsСount</span></label>
            }
            else
            {
                <button id="newsInterest_@(news.Id)" onclick="actionInterest('@(news.Id)')" class="btn btn-raised btn-primary">Цікавить</button>
                <button id="newsRelevant_@(news.Id)" onclick="actionRelevant('@(news.Id)')" class="btn btn-raised btn-primary">Актуально</button>
                <button id="newsUseful_@(news.Id)" onclick="actionUseful('@(news.Id)')" class="btn btn-raised btn-primary">Корисно</button>
            }
            
            @*<p class="text-right"><a class="btn btn-primary btn-lg">читати більше</a>
            </p>*@
            <div class="pull-right" style="font-size: 15px; padding: 15px;">
                @news.DateTime
            </div>
        </div>
    }
}