@model teamssd.Models.DashboardViewModels

@{
    ViewBag.Title = "Головна";

}

<div class="row panel-body">
@*@using (Html.BeginForm())
{


}*@

    <div class="col-md-2">
        @using (Html.BeginForm())
        {
            @Html.DropDownList("ChanelId", null, "Усі канали", htmlAttributes: new {@class = "form-control"})
        }
       
    </div>

    <div class="col-md-10 ">
        <ul class="nav nav-pills ">
            <li class="@((ViewBag.MyNews ?? false) ? "active" : "")"><a href="@Url.Action("MyNews", "Home")">Мої новини</a></li> @*<span class="badge">42</span>*@
            <li class="@((ViewBag.News ?? false) ? "active" : "")"><a href="@Url.Action("News", "Home")">Стрічка новин</a></li>
            <li class="@((ViewBag.ViewedNews ?? false) ? "active" : "")"><a href="@Url.Action("ViewedNews", "Home")">Переглянуті новини</a></li>
        </ul>
    </div>
</div>


<div class="row">
    @*<div class="col-md-3">
        <div class="list-group">
            <div class="panel panel-primary" style="height: 777px;overflow-y: scroll;position: fixed;width: 400px">
                <div class="panel-body" style="padding-top: 0">
                    <div class="">
                        <span class="glyphicon glyphicon-search myClass" aria-hidden="true"></span>
                        <input class="form-control search-chanel" placeholder="Search" style="margin-top: 0">
                    </div>
                    @Html.Partial("_ListChanels", Model.Chanels.ToList())
                </div>
            </div>
        </div>
    </div>*@
    <div class="col-md-12" id="newsList">
        @Html.Partial("_ListNews", Model.News.ToList())
    </div>
</div>

<script>
        $(document).on("click", ".get-news-chanel",function() {
                var id = $(this).attr("data-id");
                $.ajax({
                    url: "@Url.Action("GetNewsByChanel", "Chanels")",
                    data: { id: id },
                    type: 'post',
                    async: true,
                    success: function (data) {
                        $("#newsList").html(data);
                    }
                });
            });
</script>